rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Benishangul Gumuz Police HRMS Database Rules
    // All official collections allow seamless persistence to Cloud Firestore
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
